{#
/**
 * @file
 * Meta entity template.
 */
#}
<article{{ attributes }}>
    {{ title_prefix }}
    {% if not page %}
        <h2{{ title_attributes }}>
            <a href="{{ url }}" rel="bookmark">{{ label }}</a>
        </h2>
    {% endif %}
    {{ title_suffix }}

    {{ content }}
</article>
